In [ ]:
from pyspark.sql import SparkSession

# Initialize Spark session with Iceberg configurations
spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.4_2.12:1.5.0') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type", "hadoop") \
  .config("spark.sql.catalog.local.warehouse", "data/spark-warehouse/iceberg") \
  .getOrCreate()

In [26]:
spark

In [27]:
spark.sql(
  """
  CREATE TABLE local.PRODUTOS (ID_PRODUTO INT, NOME_PRODUTO STRING, MARCA_PRODUTO STRING, CATEGORIA_PRODUTO STRING, PRECO_PRODUTO DOUBLE, QUANTIDADE_PRODUTO INT) USING iceberg
  """
)

DataFrame[]

In [28]:
spark.sql("select * from local.PRODUTOS").show()

+----------+------------+-------------+-----------------+-------------+------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+
+----------+------------+-------------+-----------------+-------------+------------------+

In [29]:
spark.sql('''INSERT INTO local.PRODUTOS VALUES 
    (1, "PRODUTO_X","MARCA_X", "CATEGORIA_X" ,800.00, 50),
    (2, "PRODUTO_Y", "MARCA_Y", "CATEGORIA_Y", 500.00, 100),
    (3, "PRODUTO_Z","MARCA_Z", "CATEGORIA_Z", 150.00, 150)''')

DataFrame[]

In [30]:
spark.sql("select * from local.PRODUTOS").show()

+----------+------------+-------------+-----------------+-------------+------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_X|        800.0|                50|
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|
|         3|   PRODUTO_Z|      MARCA_Z|      CATEGORIA_Z|        150.0|               150|
+----------+------------+-------------+-----------------+-------------+------------------+

In [31]:
spark.sql(
    """
    alter table local.PRODUTOS add column ANO_FABRICACAO_PRODUTO STRING
    """
)

DataFrame[]

In [32]:
spark.sql(
    """
    select * from local.PRODUTOS
    """
).show()

+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|ANO_FABRICACAO_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_X|        800.0|                50|                  null|
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|                  null|
|         3|   PRODUTO_Z|      MARCA_Z|      CATEGORIA_Z|        150.0|               150|                  null|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+

In [33]:
spark.sql(
    """
    update local.PRODUTOS set ANO_FABRICACAO_PRODUTO = '2020' where ID_PRODUTO = 1
    """
)

DataFrame[]

In [34]:
spark.sql(
    """
    select * from local.PRODUTOS
    """
).show()

+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|ANO_FABRICACAO_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|                  null|
|         3|   PRODUTO_Z|      MARCA_Z|      CATEGORIA_Z|        150.0|               150|                  null|
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_X|        800.0|                50|                  2020|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+

In [35]:
spark.sql(
    """
    update local.PRODUTOS set ANO_FABRICACAO_PRODUTO = '2025' where ID_PRODUTO = 2
    """
)

DataFrame[]

In [36]:
spark.sql(
    """
    update local.PRODUTOS set ANO_FABRICACAO_PRODUTO = '2023' where ID_PRODUTO = 3
    """
)

DataFrame[]

In [37]:
spark.sql('select * from local.PRODUTOS').show()

+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|ANO_FABRICACAO_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|         3|   PRODUTO_Z|      MARCA_Z|      CATEGORIA_Z|        150.0|               150|                  2023|
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|                  2025|
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_X|        800.0|                50|                  2020|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+

In [38]:
spark.sql('delete from local.PRODUTOS where ID_PRODUTO = 3')

DataFrame[]

In [39]:
spark.sql('select * from local.PRODUTOS').show()

+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|ANO_FABRICACAO_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|                  2025|
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_X|        800.0|                50|                  2020|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+