In [1]:
from pyspark.sql import SparkSession

# Initialize Spark session with Iceberg configurations
spark = SparkSession.builder \
  .appName("IcebergLocalDevelopment") \
  .config('spark.jars.packages', 'org.apache.iceberg:iceberg-spark-runtime-3.4_2.12:1.5.0') \
  .config("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions") \
  .config("spark.sql.catalog.local", "org.apache.iceberg.spark.SparkCatalog") \
  .config("spark.sql.catalog.local.type", "hadoop") \
  .config("spark.sql.catalog.local.warehouse", "spark-warehouse/iceberg") \
  .getOrCreate()

25/04/16 10:05:48 WARN Utils: Your hostname, bonetti-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
25/04/16 10:05:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/bonetti/.cache/pypoetry/virtualenvs/atividade-engenharia-de-dados-pyspark-oL9R8c7J-py3.12/lib/python3.12/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/bonetti/.ivy2/cache
The jars for the packages stored in: /home/bonetti/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.4_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-c5f1c366-9abb-41b2-93e6-8aac78c36e74;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.4_2.12;1.5.0 in central
:: resolution report :: resolve 179ms :: artifacts dl 7ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.4_2.12;1.5.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-c5f1c366-9abb-41b2-93e6-8aac78c36e74
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/5ms)
25/04/16 10:05:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/16 10:05:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
spark

In [3]:
spark.sql(
  """
  CREATE TABLE local.PRODUTOS (ID_PRODUTO INT, NOME_PRODUTO STRING, MARCA_PRODUTO STRING, CATEGORIA_PRODUTO STRING, PRECO_PRODUTO DOUBLE, QUANTIDADE_PRODUTO INT) USING iceberg
  """
)

DataFrame[]

In [4]:
spark.sql("select * from local.PRODUTOS").show()

+----------+------------+-------------+-----------------+-------------+------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+
+----------+------------+-------------+-----------------+-------------+------------------+

In [8]:
spark.sql('''INSERT INTO local.PRODUTOS VALUES 
    (1, "PRODUTO_X","MARCA_X", "CATEGORIA_X" ,800.00, 50),
    (2, "PRODUTO_Y", "MARCA_Y", "CATEGORIA_Y", 500.00, 100),
    (3, "PRODUTO_Z","MARCA_Z", "CATEGORIA_Z", 150.00, 150)''')

DataFrame[]

In [9]:
spark.sql("select * from local.PRODUTOS").show()

+----------+------------+-------------+-----------------+-------------+------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_X|        800.0|                50|
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|
|         3|   PRODUTO_Z|      MARCA_Z|      CATEGORIA_Z|        150.0|               150|
+----------+------------+-------------+-----------------+-------------+------------------+

In [10]:
spark.sql(
    """
    alter table local.PRODUTOS add column ANO_FABRICACAO_PRODUTO STRING
    """
)

DataFrame[]

In [12]:
spark.sql(
    """
    select * from local.PRODUTOS
    """
).show()

+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|ANO_FABRICACAO_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_X|        800.0|                50|                  null|
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|                  null|
|         3|   PRODUTO_Z|      MARCA_Z|      CATEGORIA_Z|        150.0|               150|                  null|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+

In [16]:
spark.sql(
    """
    update local.PRODUTOS set ANO_FABRICACAO_PRODUTO = '2020' where ID_PRODUTO = 1
    """
)

DataFrame[]

In [17]:
spark.sql(
    """
    select * from local.PRODUTOS
    """
).show()

+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|ANO_FABRICACAO_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|                  null|
|         3|   PRODUTO_Z|      MARCA_Z|      CATEGORIA_Z|        150.0|               150|                  null|
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_A|        800.0|                50|                  2020|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+

In [18]:
spark.sql(
    """
    update local.PRODUTOS set ANO_FABRICACAO_PRODUTO = '2025' where ID_PRODUTO = 2
    """
)

DataFrame[]

In [19]:
spark.sql(
    """
    update local.PRODUTOS set ANO_FABRICACAO_PRODUTO = '2023' where ID_PRODUTO = 3
    """
)

DataFrame[]

In [20]:
spark.sql('select * from local.PRODUTOS').show()

+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|ANO_FABRICACAO_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|                  2025|
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_A|        800.0|                50|                  2020|
|         3|   PRODUTO_Z|      MARCA_Z|      CATEGORIA_Z|        150.0|               150|                  2023|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+

In [21]:
spark.sql('delete from local.PRODUTOS where ID_PRODUTO = 3')

DataFrame[]

In [22]:
spark.sql('select * from local.PRODUTOS').show()

+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|ID_PRODUTO|NOME_PRODUTO|MARCA_PRODUTO|CATEGORIA_PRODUTO|PRECO_PRODUTO|QUANTIDADE_PRODUTO|ANO_FABRICACAO_PRODUTO|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+
|         1|   PRODUTO_X|      MARCA_X|      CATEGORIA_A|        800.0|                50|                  2020|
|         2|   PRODUTO_Y|      MARCA_Y|      CATEGORIA_Y|        500.0|               100|                  2025|
+----------+------------+-------------+-----------------+-------------+------------------+----------------------+